{% extends "base.html" %}
{% load static %}
{% block content %}
    <img src="{% static 'images/author-header.png' %}" class="banner">

    <img src="{{ author.picture }}" alt="{{ author.name }}" class="author-detail-pic">

    <h2 style="text-decoration: underline">{{ author.name }}</h2>
    {% if author.date_of_birth %}
        <h4>born {{ author.date_of_birth }}</h4>
    {% endif %}

    {% for quote in author.quotes.all %}
        <p>_________________________________________________________</p>
        <h3>"{{ quote.text }}"</h3>
        <h5><em>{{ quote.derivation }}</em></h5>
    {% endfor %}

{% endblock %}